*.jl.*.cov
*.jl.cov
*.jl.mem
*.log
*.lp
*.rej
.DS_Store
.benchmarkci
.vscode
Manifest.toml
benchmark/*.json
coverage
debugging/experiment-inputs
debugging/experiment-results
debugging/converted
docs/build
env
node_modules
test/outputs
