name: Docs

on:
  push:
    branches:
      - main
    paths:
      - "docs/**"
      - "src/**"
      - "*.toml"
    tags: ["*"]
  pull_request:
    branches:
      - main
    paths:
      - "docs/**"
      - "src/**"
      - "*.toml"
    types: [opened, synchronize, reopened]

concurrency:
  # Skip intermediate builds: always.
  # Cancel intermediate builds: only if it is a pull request build.
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ startsWith(github.ref, 'refs/pull/') }}

jobs:
  docs:
    name: Documentation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: julia-actions/setup-julia@v2
        with:
          version: "1"
      - name: Use Julia cache
        uses: julia-actions/cache@v2
      - name: Instantiate environment with development version of the package
        run: |
          julia --project=docs -e '
            using Pkg
            Pkg.develop(PackageSpec(path=pwd()))
            Pkg.instantiate()'
      - name: Run doctest
        run: |
          julia --project=docs -e '
            using Documenter: DocMeta, doctest
            using TulipaEnergyModel
            DocMeta.setdocmeta!(TulipaEnergyModel, :DocTestSetup, :(using TulipaEnergyModel); recursive=true)
            doctest(TulipaEnergyModel)'
      - name: Generate and deploy documentation
        run: julia --project=docs docs/make.jl
        env:
          JULIA_PKG_SERVER: ""
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DOCUMENTER_KEY: ${{ secrets.DOCUMENTER_KEY }}
          PUSH_PREVIEW: ${{ github.event.pull_request.head.repo.full_name == github.repository }} # true if PR is from same repo
          GKSwstype: "100" # https://discourse.julialang.org/t/generation-of-documentation-fails-qt-qpa-xcb-could-not-connect-to-display/60988
      - name: Find comment for preview link
        if: github.event.pull_request.head.repo.full_name == github.repository
        uses: peter-evans/find-comment@v4
        id: docpreview
        with:
          issue-number: ${{ github.event.pull_request.number }}
          comment-author: "github-actions[bot]"
          body-includes: Check the documentation preview
      - name: Comment on PR
        if: github.event.pull_request.head.repo.full_name == github.repository && steps.docpreview.outputs.comment-id == 0
        uses: peter-evans/create-or-update-comment@v5
        with:
          comment-id: ${{ steps.docpreview.outputs.comment-id }}
          issue-number: ${{ github.event.pull_request.number }}
          body: |
            :memo: Check the documentation preview: https://tulipaenergy.github.io/TulipaEnergyModel.jl/previews/PR${{ github.event.number }}
          edit-mode: replace
